/*
Green: #49E9B9;
<<<<<<< HEAD
Stephens Green: #8FC5AB;
Robinhood Green: rgb(33, 206, 153);
DarkBlue: #394A58;
Stephens DarkBlue: #3F4B58;
Comrade darkBlue rgb(25, 28, 31);


DarkBlue: #394A58;


Offwhite: #F9F9FA;
*/
/**{ border: 1px solid red; }*/

/*cstlib*/

.greenLetters
{
    color: rgb(33, 206, 153);
}







