.spanner
{
    margin-left: 0px;
    text-align: left;
}
.hobbies
{
    background-color: #ddd;
    min-height:200vh;
    height:auto;
    margin-top: 0px;
    padding-bottom: 300px;
}
.motorcycles
{
    width:80%;
    margin-left: 10%;
    min-height:400px;
    background-color: #ddd;
    height:auto;
    
    
}
.course
{
    text-align: left;
    padding-top: 20px;
    font-size: 14px;
}
.requiredSkills
{
    padding-top: 20px;
    text-align: center;
}
.description
{
    text-align: left;
    font-size: 12px;
}
.obligations
{
    padding-top: 30px;
    font-size: 16px;
}
.fullHeightDiv
{
    height:auto;
    min-height: 100vh;
}
.btn
{
    margin:5px;
    height:35px;
}
body
{
    background-color: white;
}
.divHeading
{
    font-size:50px;
    font-family:'Dancing Script', cursive;
    text-align:center;
    padding-bottom: 10px;
}
.greyWindow
{
	background-color: #e7e7e7;
}
.headerText
{
    font-size: 60px;
    color: white;
    text-align: left;
    
    padding-top: 10%;
    font-family: 'bebas neue', bebas, helvetica, sans-serif;
    font-weight: 100;
    padding-left: 0%;

}
.headerSubText
{
	font-size: 20px;
    color: white;
    text-align: left;
    font-weight: 100;
    /*font-family: 'gotham rounded',arial,sans-serif;*/
    font-family: 'bebas neue', bebas, helvetica, sans-serif;

    padding-top: 5%;
}
.headerSubSubText
{
    font-size: 20px;
    color: white;
    text-align: left;
    font-weight: 100;
    /*font-family: 'gotham rounded',arial,sans-serif;*/
    font-family: 'bebas neue', bebas, helvetica, sans-serif;

    padding-top: 0%;
}
.paraPic
{
    height:100vh;
}
.projectWindow
{
	height:200px;

}
.windowHeader
{
	padding-top: 30px;
	font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 100;
    font-family: 'gotham rounded',arial,sans-serif;
}
.whiteWindow
{
	background-color: white;
}




